@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // OAuth 2.0 テスト用 画面なので、必要に応じて流用 or 削除して下さい。

    //**********************************************************************************
    //* クラス名        ：OAuth Starters
    //* クラス日本語名  ：OAuth Starters
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/12/14  西野 大介         新規
    //**********************************************************************************
*@
@using MultiPurposeAuthSite.Models.ViewModels
@using MultiPurposeAuthSite.Models.ASPNETIdentity
@{
    ViewBag.Title = "OAuth Starters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title</h2>
<div class="col-md-8">
    @if (!ASPNETIdentityConfig.IsLockedDownRedirectEndpoint)
    {
        <ul>
            <li>Authorization Code Flow
                <ul>
                    <li>@Html.ActionLink("Test Code", "TestCode", "Home")</li>
                    <li>@Html.ActionLink("Test Code (form_post)", "TestCode_FormPost", "Home")</li>
                    <li>@Html.ActionLink("Test Code (OIDC)", "TestCode_OIDC", "Home")</li>
                    <li>@Html.ActionLink("Test Code (OIDC, form_post)", "TestCode_OIDC_FormPost", "Home")</li>
                    <li>@Html.ActionLink("Test Code (PKCE plain)", "TestCode_PKCE_Plain", "Home")</li>
                    <li>@Html.ActionLink("Test Code (PKCE S256)", "TestCode_PKCE_S256", "Home")</li>
                </ul>
            </li>
            <li>Implicit Flow
                <ul>
                    <li>@Html.ActionLink("Test Token", "TestToken", "Home")</li>
                    <li>@Html.ActionLink("Test Token 'id_token'(OIDC)", "TestToken_OIDC1", "Home")</li>
                    <li>@Html.ActionLink("Test Token 'id_token token'(OIDC)", "TestToken_OIDC2", "Home")</li>
                </ul>
            </li>
            <li>
                Else Flow
                <ul>
                    <li>@Html.ActionLink("Test JWT Bearer Token Flow", "TestJWTBearerTokenFlow", "Home")</li>
                </ul>
            </li>
        </ul>
    }
</div>

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
       <!-- Footer 部の section -->
}