@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：_Layout
    //* クラス日本語名  ：マスタ・ページ相当
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/04/24  西野 大介         新規
    //**********************************************************************************
*@
@* マスタ・ページに相当 *@

@using MultiPurposeAuthSite.Co
@using MultiPurposeAuthSite.Entity
@using MultiPurposeAuthSite.Resources
@using MultiPurposeAuthSite.ViewModels
@using Manager = MultiPurposeAuthSite.Manager

@using System.Web
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    #region Role

    IList<string> roles = null;
    bool canShowAdminScreen = false;

    if (User.Identity.IsAuthenticated)
    {
        Manager.ApplicationUserManager userManager
            = HttpContext.Current.GetOwinContext().GetUserManager<Manager.ApplicationUserManager>();
        ApplicationUser user = userManager.FindById(User.Identity.GetUserId()); // 同期版でOK。
        if (user == null)
        {
            roles = new List<string>();
        }
        else
        {
            roles = userManager.GetRoles(user.Id); // 同期版でOK。
        }
        canShowAdminScreen = (roles.Where(x => x == Const.Role_SystemAdmin).Any());
    }

    #endregion
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("HeaderScriptsSection", required: true)

    <script type="text/javascript">
        // Resolve URL in the javascript
        var baseUrl = '@Url.Content("~/")';
    </script>

</head>
<body onload="Fx_Document_OnLoad();Fx_AdjustStyle();">
    <div class="page-header row">
        <div class="col-3" style="padding: 0">
            <div id="header-logo"><a href="@Url.Action("Index", "Home")"><img alt="logo" src="~/images/touryo/logo.png" /></a></div>
        </div>
        <div class="col-6" style="padding: 0">
            <div id="header-title">
@if (User.Identity.IsAuthenticated)
{
                @Html.ActionLink(string.Format(SharedViews.LoginPartial, User.Identity.GetUserName()), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "float-right" })
}
            </div>
        </div>
        <div id="header-button" class="col-3">
@if (User.Identity.IsAuthenticated)
{
            @* サインアウトボタンは、ユーザーが認証されている時だけ表示する *@
            <button type="button" class="btn btn-primary float-right" onclick="window.location.href = '@Url.Action("Logoff", "Account")';">Sign-out</button>
}
else
{
            <button type="button" class="btn btn-secondary float-right" onclick="window.location.href = '@Url.Action("Register", "Account")';">Sign-up</button>
            <button type="button" class="btn btn-primary float-right" onclick="window.location.href = '@Url.Action("Login", "Account")';">Sign-in</button>
}
        </div>
    </div>
    <div id="body-bk">
        <div id="body" class="row">
            <div class="nav-side-menu col-sm-4 col-md-3">
                <div class="brand">メニュー</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li onclick="window.location.href = '@Url.Action("Index", "Home")';">
                            <i class="fa fa-arrow-circle-right"></i> メニュートップ
                        </li>
                        <li>
                            <i class="fa fa-arrow-circle-right"></i> @Html.ActionLink("Saml2/OAuth2 Starters", "Saml2OAuth2Starters", "Home", null, new { style = "color:peachpuff" })
                        </li>
                        <li>
                            <i class="fa fa-arrow-circle-right"></i> @Html.ActionLink("WebAuthn Starters", "WebAuthnStarters", "Home", null, new { style = "color:peachpuff" })
                        </li>
@if (User.Identity.IsAuthenticated)
{
                        <li>
                            <i class="fa fa-arrow-circle-right"></i> @Html.ActionLink("Scroll", "Scroll", "Home", null, new { style = "color:peachpuff" })
                        </li>
    if (canShowAdminScreen)
    {
                        <li>
                            <i class="fa fa-arrow-circle-right"></i> @Html.ActionLink("UsersAdmin Screen", "Index", "UsersAdmin", null, new { style = "color:peachpuff" })
                        </li>
                        <li>
                            <i class="fa fa-arrow-circle-right"></i> @Html.ActionLink("RolesAdmin Screen", "Index", "RolesAdmin", null, new { style = "color:peachpuff" })
                        </li>
    }
}
                    </ul>
                </div>
            </div>
            <div id="contents" class="col-sm-8 col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Powered by <a target="_blank" href="https://github.com/OpenTouryoProject">OpenTouryo</a></p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/touryo")
    @Scripts.Render("~/bundles/app")

    @RenderSection("FooterScriptsSection", required: true)
</body>
</html>