@*
    // OAuth 2.0 テスト用 画面なので、必要に応じて流用 or 削除して下さい。

    //**********************************************************************************
    //* Copyright (C) 2017 Hitachi Solutions,Ltd.
    //**********************************************************************************

    #region Apache License
    //
    // Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
    //
    #endregion

    //**********************************************************************************
    //* クラス名        ：OAuth2AuthorizationCodeGrantClient
    //* クラス日本語名  ：OAuth2AuthorizationCodeGrantClient（テスト用）
    //* ・この画面は、OAuth2のテスト用画面です。テストのためこの画面はbearer tokenを露見させます。本番環境にこの画面を提供しないで下さい。
    //* ・This screen is the test screen of OAuth 2. This screen exposes bearer token for testing. Do not provide this screen for production environment.
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/04/24  西野 大介         新規
    //**********************************************************************************
*@

@using MultiPurposeAuthSite.Co
@using MultiPurposeAuthSite.Entity
@using MultiPurposeAuthSite.Resources
@using MultiPurposeAuthSite.ViewModels

@model OAuth2AuthorizationCodeGrantClientViewModel
@{
    ViewBag.Title = "OAuth2AuthorizationCodeGrantClient";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title.</h2>
<hr />
@using (Html.BeginForm("OAuth2AuthorizationCodeGrantClient2", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "Fx_OnSubmit();" }))
{
    @Html.AntiForgeryToken()

    <text>State:</text> @Html.TextBoxFor(model => model.State, new { @readonly = "readonly" })<br />
    <text>Code:</text>  @Html.TextBoxFor(model => model.Code, new { @readonly = "readonly" })<br />

    <text>Access Token</text>
    <text>(JWT)</text>
    <text>:</text><br />
    
    @Html.TextBoxFor(model => model.AccessToken, new { style = "width:100%;", @readonly = "readonly" })<br />
    <text>Access Token (Json):<br /></text>
    @Html.TextArea("AccessTokenJwtToJson", Model.AccessTokenJwtToJson, new { style = "resize: both; width:100%; height:100px;", @readonly = "readonly" })<br />

    @Html.TextBoxFor(model => model.IdToken, new { style = "width:100%;", @readonly = "readonly" })<br />
    <text>Id Token (Json):<br /></text>
    @Html.TextArea("IdTokenJwtToJson", Model.IdTokenJwtToJson, new { style = "resize: both; width:100%; height:100px;", @readonly = "readonly" })<br />

    <text>Refresh Token:</text><br />
    @Html.TextBoxFor(model => model.RefreshToken, new { style = "width:100%;", @readonly = "readonly" })<br />
    <input class="btn btn-block" type="submit" name="submit.Refresh" value="Refresh" />
    <input class="btn btn-block" type="submit" name="submit.IntrospectRefresh" value="IntrospectRefresh" />
    <input class="btn btn-block" type="submit" name="submit.RevokeRefresh" value="RevokeRefresh" />
    <br />
    <input class="btn btn-block" type="submit" name="submit.GetUserClaims" value="Get user claims" />
    <input class="btn btn-block" type="submit" name="submit.IntrospectAccess" value="IntrospectAccess" />
    <input class="btn btn-block" type="submit" name="submit.RevokeAccess" value="RevokeAccess" />

    <text>Response:</text><br />
    @Html.TextArea("Response", Model.Response ?? "", new { style = "width:100%; height:200px;", @readonly = "readonly" })<br />
    <br />
    <a href="https://jwt.io/">JSON Web Tokens - jwt.io</a><br />
    <a href="https://syncer.jp/json-prettyprint">JSON Pretty Linter  - JSONの整形と構文チェック</a><br />
}

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
}
