@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：AddWebAuthnData
    //* クラス日本語名  ：WebAuthn関連の非構造化データの追加・編集用のView
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2019/03/06  西野 大介         新規
    //**********************************************************************************
*@

@using MultiPurposeAuthSite.Co
@using MultiPurposeAuthSite.Entity
@using MultiPurposeAuthSite.Resources
@using MultiPurposeAuthSite.ViewModels

@{
    ViewBag.Title = ManageViews.AddWebAuthnDataTitle;
}

@Scripts.Render("~/bundles/multiauthsite")

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddWebAuthnData", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "Fx_OnSubmit();" }))
{
    @Html.AntiForgeryToken()
    <h4>@ManageViews.AddWebAuthnDataH4</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-6">
            <button id="webauthn_make" type="button" class="btn btn-default">@ManageViews.AddWebAuthnDataSubmit</button>
        </div>
    </div>
    <input type="hidden" id="webauthnUserId" name="webauthnUserId" />
    <input type="hidden" id="webauthnPublickey" name="webauthnPublickey" />
}

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
    <script>
        const credAlgorithm = "RSASSA-PKCS1-v1_5";

        $(function () {

            var accountInfo = {
                rpDisplayName: 'MultiPurposeAuthSite', // Name of relying party
                displayName: '@ViewBag.UserName'       // Name of user account in relying partying

                @*name: '@ViewBag.UserName',           // Detailed name of account
                id: '@ViewBag.UserName',               // Account identifier ... credentialId
                imageUri: '',                          // user’s account image*@
            };

            var cryptoParameters = [
                {
                    type: 'ScopedCred',
                    algorithm: credAlgorithm
                }
            ];

            @*var attestationChallenge = '@ViewBag.AttestationChallenge';

            var timeout = {};
            var denyList = {};
            var ext = {};*@

            $("#webauthn_make").on("click", function () {
                navigator.authentication.makeCredential(accountInfo, cryptoParameters)
                    .then(function (result) {
                        // properties
                        //alert(JSON.stringify(result));

                        localStorage["userId"] = "@ViewBag.UserName";
                        localStorage["credentialType"] = result.credential.type;
                        localStorage["credentialId"] = result.credential.id;
                        localStorage["algorithm"] = result.algorithm; // 現時点では動作しない
                        localStorage["publicKey"] = JSON.stringify(result.publicKey);
                        localStorage["attestation"] = result.attestation; // 現時点では動作しない

                        $("#webauthnUserId").val("@ViewBag.UserName");
                        $("#webauthnPublickey").val(JSON.stringify(result.publicKey));

                        // submit
                        $("form").submit();
                    });
            });
        });
    </script>
}
