@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：AddFIDO2Data
    //* クラス日本語名  ：FIDO2関連の非構造化データの追加・編集用のView
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/06/07  西野 大介         新規
    //**********************************************************************************
*@

@{
    ViewBag.Title = ManageViews.AddFIDO2DataTitle;
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddFIDO2Data", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "Fx_OnSubmit();" }))
{
    @Html.AntiForgeryToken()
    <h4>@ManageViews.AddFIDO2DataH4</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-6">
            <button id="fido2_make" type="button" class="btn btn-default">@ManageViews.AddFIDO2DataSubmit</button>
        </div>
    </div>
    <input type="hidden" id="fido2UserId" name="fido2UserId" />
    <input type="hidden" id="fido2Publickey" name="fido2Publickey" />
}

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
    <script>
        const credAlgorithm = "RSASSA-PKCS1-v1_5";

        $(function () {

            var accountInfo = {
                rpDisplayName: 'MultiPurposeAuthSite', // Name of relying party
                displayName: '@ViewBag.UserName',      // Name of user account in relying partying

                @*name: '@ViewBag.UserName',             // Detailed name of account
                id: '@ViewBag.UserName',               // Account identifier ... credentialId
                imageUri: '',                          // user’s account image*@
            };

            var cryptoParameters = [
                {
                    type: 'ScopedCred',
                    algorithm: credAlgorithm
                }
            ];

            @*var attestationChallenge = '@ViewBag.AttestationChallenge';

            var timeout = {};
            var denyList = {};
            var ext = {};*@

            $("#fido2_make").on("click", function () {
                navigator.authentication.makeCredential(accountInfo, cryptoParameters)
                    .then(function (result) {
                        // properties

                        localStorage["userId"] = "@ViewBag.UserName";
                        localStorage["credentialType"] = result.credential.type;
                        localStorage["credentialId"] = result.credential.id;
                        localStorage["algorithm"] = result.algorithm; // 現時点では動作しない
                        localStorage["publicKey"] = JSON.stringify(result.publicKey);
                        localStorage["attestation"] = result.attestation; // 現時点では動作しない

                        $("#fido2UserId").val("@ViewBag.UserName");
                        $("#fido2Publickey").val(JSON.stringify(result.publicKey));

                        // submit
                        $("form").submit();
                    });
            });
        })
    </script>
}
