@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：Index
    //* クラス日本語名  ：UsersAdminのスキャフォ（UsersのList）
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/05/24  西野 大介         新規
    //**********************************************************************************
*@

@using MultiPurposeAuthSite.Resources;
@using MultiPurposeAuthSite.Models.ViewModels
@using MultiPurposeAuthSite.Entity;

@model UsersAdminSearchViewModel

@{
    ViewBag.Title = AdminViews.UsersAdminIndexTitle;
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<p>@Html.ActionLink(AdminViews.UsersAdminIndexCreate, "Create")</p>

@using (Html.BeginForm("List", "UsersAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form", onsubmit = "Fx_OnSubmit();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.UserNameforSearch, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UserNameforSearch, new { @class = "form-control" })
    </div>

    <input type="submit" value="@CommonViewModels.Search" class="btn btn-default" />
}

<table class="table" style="margin-top:20px">
    <tr>
        <th>@AdminViews.UsersAdminUserName</th>
        <th></th>
    </tr>

    @foreach (ApplicationUser item in Model.Users)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink(AdminViews.UsersAdminEditTitle, "Edit", new { id = item.Id }) |
                @Html.ActionLink(AdminViews.UsersAdminDetailsTitle, "Details", new { id = item.Id }) |
                @Html.ActionLink(AdminViews.UsersAdminDeleteTitle, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
}
