@*
    //**********************************************************************************
    //* テンプレート
    //**********************************************************************************

    // 以下のLicenseに従い、このProjectをTemplateとして使用可能です。Release時にCopyright表示してSublicenseして下さい。
    // https://github.com/OpenTouryoProject/MultiPurposeAuthSite/blob/master/license/LicenseForTemplates.txt

    //**********************************************************************************
    //* クラス名        ：AddUnstructuredData
    //* クラス日本語名  ：非構造化データの追加・編集用のView
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  2017/06/05  西野 大介         新規
    //**********************************************************************************
*@

@using MultiPurposeAuthSite.Resources
@using MultiPurposeAuthSite.Models.ViewModels

@model AccountAddUnstructuredDataViewModel
@{
    ViewBag.Title = ManageViews.AddUnstructuredDataTitle;
    List<SelectListItem> items = new List<SelectListItem>();
    items.Add(new SelectListItem { Value = "0", Text = "hoge" });

    object htmlAttributes = null;

    if (Model.ConfirmationDisplay)
    {
        htmlAttributes = new { @class = "form-control", @readonly = "readonly" };
    }
    else
    {
        htmlAttributes = new { @class = "form-control" };
    }
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddUnstructuredData", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ManageViews.AddUnstructuredDataH4</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.FirstName, htmlAttributes)
        </div>
        <div class="col-md-1"></div>
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.LastName, htmlAttributes)
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Sei, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Sei, htmlAttributes)
        </div>
        <div class="col-md-1"></div>
        @Html.LabelFor(m => m.Mei, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Mei, htmlAttributes)
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CompanyName, htmlAttributes)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Industry, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Industry, items, htmlAttributes)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CountryName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CountryName, items, htmlAttributes)
        </div>
    </div>

    @Html.HiddenFor(m => m.ConfirmationDisplay)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Code)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@ManageViews.AddUnstructuredDataSubmit" />
        </div>
    </div>
}

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
}